.container{
    background-color: red;
    width: 500px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    display: flex;

}

.description{
    width: 80%;
}
.avatar{
    border-radius: 100%;
    width: 10%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    place-items: center;
}
.image{
    
}
.details{
    width: 10%;
}